a {
  color: black;
  text-decoration: none;
}

.header {
  padding: 10px 20px;
  border-bottom: 1px solid #D8D8D8;
  background-color: #fefefe;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  height: 62px;
  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 40px;
}

.user__info {
  list-style: none;
}

.test {
  height: 1000px;
  margin-top: 90px;
  font-size: 40px;
  color: black;
}
