.pillow {
  height: 90px;
}

a {
  color: black;
  text-decoration: none;
}

h4 {
  display: inline;
}

.header {
  padding: 10px 20px;
  border-bottom: 1px solid #D8D8D8;
  background-color: #fefefe;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  height: 62px;
  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 40px;
}

.user__info {
  list-style: none;
}

.test {
  font-size: 40px;
  color: black;
}

/* ▼/himas/index */
.hima-unit {
  width: 60vw;
  background-color: antiquewhite;
  padding: 10px;
  margin: 0 auto 10px;
  line-height: 20px;
}
.icon-image {
  height: 50px;
  width: 50px;
  /* 画像の表示形式を指定するプロパティ */
  object-fit: cover;

  border: 1px solid black;
  border-radius: 50%;
}

.purpose-list {
  padding-left: 15px;
}

.hit_on-hand {
  height: 20px;
}

.hit_on-text_area {
  width: 70%;
}
/* ▲/himas/index */

/* ▼/users/:id */
.edit-button {
  padding: 5px;
  border: 1px solid black;
}

.upper-profile {
  display: flex;
  flex-direction: row;
  padding: 0 20px 50px;
}

.profile-summary {
  width: calc(100% - 500px);
}

.images-container {
  height: 300px;
  width: 90%;
  margin: 20px;
  padding: 5px;
  overflow-x: scroll;
  background-color: antiquewhite;
  display: flex;
}

.profile-image {
  margin: 5px;
}

.image-container {
  height: 280px;
  width: 280px;
  background-color: beige;
  margin: 10px;
  flex-shrink: 0;
}

.current-himas-container {
  width: 500px;
  height: 400px;
  overflow-y: scroll;
  padding: 0 10px;
}

.memo-profile {
  padding: 0 20px 50px;
  word-break: break-all;
}

.lower-profile {
  padding: 0 20px 50px;
  word-break: break-all;
}

/* ▲/users/:id */


/* ▼/users/:id/edit */
.image-file {
  height: 30px;
  width: 275px;
}

.preview-image {
  max-height: 240px;
}
/* ▲/users/:id/edit */

/* ▼/users/sign_up */
.new_user {
  padding-top: 50px;
}
.caution {
  font-size: 12px;
}
.select-box {
  margin: 10px 20px;
}

/* ▲/users/sign_up */


/* ▼hit_on-form */
.hit_on-form {
  display: none;
  /* visibility: hidden; */
}


/* ▲hit_on-form */


/* ▼/rooms */
.rooms-main {
  width: 80vw;
  margin: auto;
}
.room-categories {
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
}

.room-category-container {
  width: 20vw;
  padding: 20px 10px;
  text-align: center;
  border-bottom: 2px solid gray;
  font-weight: 500;
  letter-spacing: 2px;
}

.room-category {
  padding: 15px 10%;
}

#current-category {
  border-bottom: 2px solid black;
  font-weight: 600;
}

.rooms {
  display: none;
}

.room-unit {
  display: flex;
  justify-content: left;
  margin-bottom: 20px;
}
.room-icon-image {
  height: 100px;
  width: 100px;
  /* 画像の表示形式を指定するプロパティ */
  object-fit: cover;

  border: 1px solid black;
  border-radius: 50%;
}

.right-room-unit {
  width: 60vw;
}

.nickname-room-unit {
  font-size: 24px;
  margin: 10px 0 20px 20px;
}

.message-room-unit {
  width: 90%;
  margin: 10px 0 20px 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* ▲/rooms */


/* ▼/rooms/:room_id/messages */
.message-main {
  width: 60vw;
  margin: auto;

}

.talk-with {
  display: flex;
  justify-content: space-between;
}
.messages-container {
  height: 70vh;
  padding: 10px;
  overflow-y: scroll;
  background-color:cornsilk;
}

.my-message {
  width: 30vw;
  background-color: #fafafa;
  padding: 10px;
  margin: 0 0 0 auto;
  margin-bottom: 10px;
  word-break: break-all;
}
.others-message {
  width: 30vw;
  background-color: #fafafa;
  padding: 10px;
  margin-bottom: 10px;
  word-break: break-all;
}

.message-form-container {
  height: 60px;
  line-height: 60px;
  background-color: #eeeeee;
  padding: 10px 20px;
  justify-content: space-between;
}

.message-form {
  display: flex;
  justify-content: space-between;
}

.accept-or-not-hit_on {
  display: flex;
  justify-content: space-between;
}

.accept-or-not-buttons {
  display: flex;
}

.accept-or-not-button{
  margin-left: 20px;
}
/* ▲/rooms/:room_id/messages */