/* タブレット表示時 */
@media (min-width: 600px) and (max-width: 1024px) {
  h4 {
    font-size: 24px;
  }
  /* ▼ヘッダー */
  .header {
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 1px solid #D8D8D8;
    background-color: #fefefe;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
    /* height: 72px; */
    display: flex;
    justify-content: space-between;
  }
  .header-menu-string{
    margin-top: 25px;
    margin-right: 10px;
  }
  .header-menu-image {
    margin-top: 5px;
  }
  /* ▲ヘッダー */

  /* ▼フッター */
  /* ▲フッター */

  /* ▼ページタイトル */
  /* ▲ページタイトル */

  /* ▲フォーム関連 */
  .general-form-frame {
    width: 40vw;
    margin: auto;
    padding: 10px;
    background-color: antiquewhite;
  }
  .new_user {
    width: 40vw;
    margin: auto;
    padding: 10px;
    background-color: antiquewhite;
  }

  .hit_on-text_area {
    height: 64px;
  }

  .thirty-vw-form {
    min-width: 30vw;
    max-width: 30vw;
  }
  .select-box {
    margin: 10px 20px;
  }
  .caution {
    font-size: 12px;
  }

  /* ▲フォーム関連 */

  /* ▼ボタン */
  .edit-button-sm {
    padding: 4px 4.8px;
    margin-left: 10px;
    margin-bottom: 2px;
    font-size: 15px;
  }
  .hit_on-submit_button {
    margin-top: 8px;
    margin-left: 10px;
    padding: 4px 8px;
  }
  /* ▲ボタン */


  /* ▼表示できないメッセージのspan要素 */
  .cannnot-show {
    text-align: center;
    font-size: 24px;
    line-height: 36px;
    color: #777;
  }
  /* ▲表示できないメッセージのspan要素 */

  /* ▼アイコン(丸で切り取られた画像)関連 */
  .icon-image {
    background-color: #fafafa;
    /* 画像の表示形式を指定するプロパティ */
    object-fit: cover;

    border: 1px solid black;
    border-radius: 50%;
  }
  .hima-icon-image {
    height: 75px;
    width: 75px;
  }
  .room-icon-image {
    height: 100px;
    width: 100px;
  }
  .message-icon-image {
    height: 50px;
    width: 50px;
  }
  /* ▲アイコン(丸で切り取られた画像)関連 */

  /* ▼hima */
  .himas-main {
    width: 70vw;
    padding: 15px 15px 5px;
    background-color: cornsilk;
    margin: 0 auto;
  }
  .hima-user-name {
    position: absolute;
    top: 40px;
    left: 80px;
    font-size: 18px;
  }

  .hit_on-status {
    /* line-height: 22px; */
    font-size: 18px;
  }
  .hit_on-hand {
    height: 22px;
  }

  /* ▲hima */

}
